body {
  margin: 0;
}

* {
     box-sizing:border-box;
}


:root {

    --primary-blue: #2563EB;
    --primary-dark: #1D4ED8;

    --navy: #0F172A;
    --navy-light: #1E293B;

    --bg-primary: #F8FAFC;
    --bg-secondary: #EFF6FF;
    
    --text-primary: #0F172A;
    --text-secondary: #64748B;
    --text-white: #FFFFFF;

    --border-color: #E2E8F0;

    --success: #22C55E;
    --warning: #F59E0B;
    --danger: #EF4444;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap:2px;
    height:100vh;
     background-color:rgb(0,0,0,0.2)
}

.nav-container {
    background-color: var(--navy);
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    gap:10px
}


.nav-container  button{
    padding: 10px 15px;
    border-radius: 10px
}

.stats-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 1.4rem;
    flex-wrap:wrap;
    gap: 10px;
   

}

/**.stats-main-card {
    display: flex
}*/

.stat-card {
    height: 100px;
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    max-width: 100%;
    background-color: var(--text-secondary);
    border-radius: 10px;
    color:var(--text-white);
    box-shadow: 1px 2px 3px blue
    
}


.event-box {
    padding: 10px;
    background-color: var(--primary-blue);
    color:var(--bg-primary);
    border-radius: 5px;

}
.event-box ul {
    list-style-type:none;
}
.event-btns a {
    border-radius: 2px;
    padding: 3px;
    background-color: var(--success)
}

.events-section {
    display: flex;
    justify-content: center;
    gap: 10p0
}

.qr-code-container {
    display: none;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.2);
    position: fixed;
}
#qr-code {
    width: 400px;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center
}


@media screen and (max-width: 600px) {
   .nav-container {
       flex-direction: column;
       align-items: flex-start;
   }
   .nav-button {
    width:100%;
    justify-content:flex-end
   }
   .container{ 
    grid-template-columns: auto
   }

}

.nav-buttons {
    display: flex;
    gap:10px
}

.event-input-container {
    display: none;
    justify-content:center;
    align-items:center;
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed
}

.event-input {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:5px;
    width: 500px;
    height: 300px;
    background-color: var(--bg-primary);
    padding: 50px;
    border-radius: 10px
}

.event-input input, .event-input button {
    height: 30px;
    border-radius: 3px;
    border:none;
    outline:2px solid
}



.main-container{
    display:grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 1fr ;
}


.nav-con {
    background-color: var(--navy);
    color: var(--text-white);
    font-size: 1.4rem;
    display: flex
}

.nav-con ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
    margin: 0;
}

.nav-con li {
    width: auto;
    padding:20px;
    border-radius: 10px
}

.nav-con li:hover {
    background-color: var(--navy-light)
}

.sidebar-item.active {
    background-color: var(--navy-light)
}



#user-name{
    color:var(--text-secondary)
}


.attendance-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
}

#attendance-table {
    background-color: var(--bg-primary);
    width:400px;
    height: 400px;
    padding: 10px;
    border-radius: 20px;
}

#attendance-table table {
    margin:auto;
}
#attendance-table table,  #attendance-table th , td {
    border: 2px solid var(--navy);
    border-collapse: collapse;
    padding: 10px;
}

#table-back-btn {
    padding: 10px;
    background-color:var(--navy);
    display: inline-block;
    color:white;
    border-radius: 10px
}